* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

div {
  display: block;
  border: 1px white solid;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}
/* header style */
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 10;
}

.logo img {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 10px;
}

nav a {
  display: inline-flex;
  color: seashell;
  text-decoration: underline;
  padding-left: 20px;
  margin-right: 10px;
}

/* mission style */
.mission {
  padding-top: 72px;
}

.mission-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
  margin: 0 auto 38px auto; /* centers image on page */
  background-image: url("../resources/images/img-mission-background.jpg");
}

.mission .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: center;
}

/* featured tea style */
.tea img {
  height: 200px;
  width: 300px;
}

.featured-tea {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* locations style */
.locations-box {
  margin: 0 auto 0 auto;
  margin-top: 75px;
  background-image: url("../resources/images/img-locations-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 1200px;
}

.locations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.location {
  background-color: black;
  display: flex;
  opacity: 1;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
